.rec-img {
    width: 100%;
}

.rec-img > img {
    object-fit: cover;
    width: inherit;
}

.recommendation > .row {
    height: calc(100vh - 76px);
}

.recommendation .rec-map {
    height: calc(100vh - 76px);
}

.recommendation > .row > div {
    height: inherit;
}

.recommendation .rec-map .map {
    height: calc(100vh - 76px - 48px * 2);
    display: flex;
    justify-content: center;
}

.recommendation .map > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    /*if you delete width 100% then it doesnt crop but then the map is smaller*/
}

/*scrollbar stuff*/
.recommendation .col-12.col-lg-4 {
    overflow-y: scroll;
    border-right: 1px black solid;
}

/*remove border for smaller screens*/
@media only screen and (max-width: 991px) {
    .recommendation .col-12.col-lg-4 {
        border-right: none;
    }
}

.recommendation .col-12.col-lg-4::-webkit-scrollbar, #overlayContent::-webkit-scrollbar {
    /*for some reason any width does not show up at all*/
    width: 0;
}

a.rec-item-navlink {
    text-decoration: none;
    color: var(--black);
}

.rec-item, .rec-map {
    padding: 3em 0;
}

.rec-match {
    margin-top: 1em;
}

.rec-rating {
    font-size: .75em;
    margin-bottom: 1em;
}

.rec-description {
    font-size: .9em;
}

.rec-add > a {
    font-size: .85em;
    margin-top: .6em;
}

/*popup stuff*/
div.map-popup.col {
    position: relative;
}

div.recommendation div.rec-map div.map-overlay{
    display: block;
    height: 100%;
    width: calc(100% - 24px);
    background-color: #a0a0a0aa;
    z-index: -1;
    position: absolute;
}

div.recommendation div.rec-map div.map{
    position: relative;
}

#closebtn, #overlayContent {
    position: absolute;
}
#closebtn{
    top: 1em;
    left: 1.8em;
}
#closebtn > button{
    border-radius: 50px;
}
#closebtn > button > i{
    margin-right: 5px;
    font-size: 15px;
}

/*modal*/
div.modal-content > div.modal-body div.side-img > img, p.dayChart > img, div.map-img > img, div.modal-nearby-images img, div.modal-review-pfp > img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

div.modal-review-pfp > img {
    border-radius: 50em;
    height: 100%;
}
