div.destinationInspiration div.bigobj .card {
    height: 20em;
    border: none;
}

div.destinationInspiration div.bigobj > a{
    text-decoration: none;
}

div.destinationInspiration div.bigobj .card > img.card-img-top {
    height: 12em;
    object-fit: cover;
}

@media only screen and (min-width: 992px) {
    div.destinationInspiration div.bigobj .card {
        height: 28em;
    }

    div.destinationInspiration div.bigobj .card > img.card-img-top {
        height: 20em;
    }
}

div.bigobj {
    margin: .25em 0;
}

div.lilobj .card {
    height: 3.5em;
    width: 2em;
    border: none;
}

/*media queries for changing size of little icons*/
@media only screen and (min-width: 768px) {
    div.lilobj > .card {
        width: 2.4em;
        height: 3em;
    }
}

@media only screen and (min-width: 992px) {
    div.lilobj > .card {
        width: 3.5em;
        height: 3.5em;
    }
}

@media only screen and (min-width: 1400px) {
    div.lilobj > .card {
        width: 5em;
        height: 5em;
    }
}

div.lilobj > .card > img.card-img-top {
    height: 50%;
    /*this should adjust for portrait orientations*/
    object-fit: cover;
}

/*the following 2 selectors handle adjusting the text in a singular line*/
div.bigobj div.card-body {
    position: relative;
}

div.bigobj p.card-text {
    position: relative;
    top: 12px;
}

div.lilobj img, div.bigobj img {
    transition: all .2s ease-in-out;
}

div.lilobj img:hover {
    scale: 1.1;
}

div.bigobj img:hover {
    scale: 1.05;
}
