div.destinationInspiration div.bigobj .card {
    height: 18em;
    border: none;
}

div.destinationInspiration div.bigobj > a{
    text-decoration: none;
}

div.destinationInspiration div.bigobj .card > img.card-img-top {
    height: 12em;
    object-fit: cover;
}

@media only screen and (max-width: 767px){
    div.destinationInspiration div.bigobj .card {
        height: 26em;
    }

    div.destinationInspiration div.bigobj .card > img.card-img-top {
        height: 20em;
    }
}

@media only screen and (min-width: 992px) {
    div.destinationInspiration div.bigobj .card {
        height: 22em;
    }

    div.destinationInspiration div.bigobj .card > img.card-img-top {
        height: 16em;
    }
}

div.bigobj {
    padding: 1rem;
}

div.lilobj > div.card >p.card-text{
    font-size: .9rem;
    font-weight: bold;
}

div.lilobj .card {
    height: 5.5rem;
    width: 6rem;
    border: none;
}

/*media queries for changing size of little icons*/
@media only screen and (min-width: 768px) {
    div.lilobj > .card {
        width: 8.75rem;
    }
    div.lilobj > div.card >p.card-text{
        font-size: 1rem;
    }
}

@media only screen and (min-width: 992px) {
    div.lilobj > .card {
        /*just a big number to prevent text wrap, width limited by col width*/
        width: 8rem;
    }
}

div.lilobj > .card > div.card-img-top {

    /*this should adjust for portrait orientations*/
    object-fit: cover;
}
div.lilobj > .card > div.card-img-top > svg{
    height: 4rem;
    width: 4rem;
}

/*the following 2 selectors handle adjusting the text in a singular line*/
div.bigobj div.card-body {
    position: relative;
}

div.bigobj p.card-text {
    position: relative;
    top: 12px;
}

div.lilobj img, div.bigobj img {
    transition: all .2s ease-in-out;
}

div.lilobj img:hover {
    scale: 1.1;
}

div.bigobj img:hover {
    scale: 1.05;
}
