.bg-img{
    background-image: url("https://cdn.britannica.com/46/154246-050-7C72E12F/view-Rome.jpg");
    opacity: 0.3;
    z-index: -1;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.hero-parent{
    position: relative;
    min-height: 40vh;
    font-weight: 450;

}

#GetStarted{
    background-color: var(--secondary);
    color: black;
    border-color: var(--primary);
}
#GetStarted:hover{
    background-color: var(--primary);
    transition: 0.2s;
    color: whitesmoke;
    border-color: var(--secondary);
}

@media only screen and (min-width: 768px){
    .hero-parent{
        min-height: 40vh;
        font-size: x-large;
    }
    #GetStarted{
        font-size: x-large;
        font-weight: 480;
    }
}
@media only screen and (min-width: 992px){
    .hero-parent{
        min-height: 20vh;
        font-size: xx-large;
    }
    #GetStarted{
        font-size: xx-large;
        font-weight: 480;
    }
}