.travelGuide .card-body {
    padding: 0.3em;
    position: relative;
}

.travelGuide .card-img-top {
    border-radius: 1em 1em 0.5em 0.5em;
}

.travelGuide .card {
    border-radius: 1em;
    min-height: 10em;
}

.travelGuide .travel-text {
    position: absolute;
    bottom: 0.3em;
    left: 0.4em;
}

.travelGuide .card.travel {
    height: 25em;
    border: none;
}

.travelGuide .card.travel div.travel-img {
    height: 23em;
}

@media only screen and (min-width: 992px) {
    .travelGuide .card.travel {
        height: 35em;
    }

    .travelGuide .card.travel div.travel-img {
        height: 33em;
    }
}

.travelGuide .card.travel div.travel-img > img {
    height: inherit;
    object-fit: cover;
}
