.quiz div.image >img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}
.quiz div.tags >div.badge{
    background-color: var(--extra2) !important;
    font-weight: 400;
    border-radius: 5rem;
    margin-right: .7rem;
}
.quiz div.b3.desc{
    border: none;
}

.quiz .form-check{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 0;
    margin: 1rem .5rem ;
}
.quiz .form-check-input{
    margin: 2rem 0 0 0;
    height: 2.2rem;
    width: 2.2rem;
    padding: 0;
}

.quiz .form-check-input:checked[type=radio]{
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3e%3cpath d='M12.9004 21.9L23.4754 11.325L21.3754 9.22501L12.9004 17.7L8.62539 13.425L6.52539 15.525L12.9004 21.9Z' fill='%2367AAF9'/%3e%3ccircle cx='15' cy='15' r='13' stroke='%2367AAF9' stroke-width='4'/%3e%3c/svg%3e");
    color: var(--extra2);
    background-color: var(--white);
    border-color: var(--extra2);
}