#signupModal div.modal-content {
    padding-bottom: 1.5em;
}

div.signupModal form.container input {
    margin: 1em 0;
    border-radius: 3em;
    height: 3em;
    box-shadow: rgba(0,0,0,.2) 2px 2px;
}

div.signupModal form.container input:nth-child(2) {
    margin-bottom: 0;
}

div.signupModal a.form-text {
    text-decoration: none;
}

div.signupModal div.form-fields {
    margin-bottom: .75em;
}

div.signupModal div.alt-signup a.btn {
    border-radius: 50px;
    width: 75%;
    justify-content: space-between;
}

#signupModal button[type=submit], #signupModal a[type=button] {
    border-radius: 50px;
    width: 100%;
}

#signupModal div.container {
    width: 75%;
}

#signupModal div.modal-header {
    border: none;
}

#signupModal button[type=button].btn-close {
    position: absolute;
    right: 1.5em;
    top: 1.5em;
}
button#show-pass{
    border: none;
    background-color: transparent;
    position: absolute;
    right: .5em;
    top: .65em;
}
#signupModal div.login{
    margin-top: 1.5em;
}