div.welcome-text {
    background-color: var(--white);
    border-radius: 5rem;
    margin: 3rem 0;
    padding: 2rem;
    width: fit-content;
}

.profile ul {
    list-style: none;
    padding: .5rem 0 0 1.5rem;
    width: calc(90%);
}

.profile ul > li:not(:first-child) {
    margin-left: .75rem;
}

.profile ul > li button {
    border: none;
    background-color: transparent;
    text-align: left;
    width: 100%;
}

.profile h3.sh.active {
    background-color: lightgray;
    border-radius: .5rem;
}

.profile div.menu, .profile div.content {
    border-width: .2rem;
    border-style: solid;
    border-color: transparent;
    border-radius: 2.5rem;
    box-shadow: rgba(0, 0, 0, .3) 0 0 .8rem .1rem;
    padding: 1rem 0;
}

.profile .menu {
    height: fit-content;
}

.profile img.pfp {
    height: calc(6rem);
    width: 6rem;
    margin-right: 1rem;
    border-radius: 3rem;
}

.profile h3.sh {
    padding-top: .6rem;
    padding-bottom: .6rem;
}

.profile input {
    border: none;
    border-radius: 2rem;
    padding: .5rem 1rem;
    box-shadow: rgba(0, 0, 0, .3) 0 0 .5rem .2rem;
}

.profile button {
    font-size: 1.6rem;
    border-radius: 1.3rem;
}

.profile img.pfp:hover {
    cursor: pointer;
}

#usrname {
    padding: .5rem;
}

.profile .name-usrname-pfp > h3.sh > span {
    padding: .5rem 1rem;
}

.profile i.btn-close {
    position: absolute;
    left: 0;
    top: -1rem;
    background-color: red;
}

.profile i.btn-close:hover {
    cursor: pointer;
}

.profile div.name-usrname-pfp > svg {
    right: 6rem;
    /*this is maths. div=100px, icon=24px, hence, 76px/2. calc at any convenient screen size*/
    top: 3.8rem;
    visibility: hidden;
}

.profile div.name-usrname-pfp {
    padding: 2rem;
    border-radius: 2rem;
}

.profile div.name-usrname-pfp:hover {
    background-color: lightgray;
    cursor: pointer;
}

.profile div.name-usrname-pfp:hover svg {
    visibility: visible;
}

.profile div.name-usrname-pfp-edit {
    transition: all .3s ease-in-out;
}

.profile .edit-pfp div:first-child:hover {
    cursor: pointer;
}

.profile .edit-pfp {
    width: fit-content;
    margin: 1.5rem;
}

.profile .edit-pfp svg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: black;
    visibility: hidden;
}

.profile .edit-pfp .edit-pfp-mask {
    background-color: rgba(100, 100, 100, .7);
    position: absolute;
    width: 6rem;
    height: 6rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3rem;
    margin: 0 1rem 0 0;
    visibility: hidden;
}

.profile .edit-pfp svg {
    color: var(--white);
}

.profile .edit-pfp > div:first-child:hover svg, .profile .edit-pfp > div:first-child:hover .edit-pfp-mask {
    visibility: visible;
}

.form-control {
    font-size: 1.6rem;
}

.profile div.new-email > button {
    margin: 0;
}

.profile h2.sh, .profile h3.sh {
    padding-left: 1rem;
    padding-right: 1rem;
}

#new-email-form{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#new-email-form > button{
    margin: 1rem 0;
}
span.badge{
    margin-left: 1rem;
}