/*colour palette definitions*/
:root {
    /*red-pink*/
    --primary: #FF4A83;
    /*pink*/
    --secondary: #FFC8DD;
    /*yellow*/
    --tertiary: #FFDA7C;
    /*bright-cyan*/
    --extra1: #CBF2FE;
    /*cobalt*/
    --extra2: #67AAF9;
}

body {
    margin-top: 76px;
}

/*todo test this*/
@media only screen and (max-width: 991px) {
    nav.navbar > div.container {
        width: 100%;
    }
}

#signup-login {
    display: block;
}

nav.navbar a:hover, #signup-login > a:hover {
    color: var(--primary);
}

@media only screen and (min-width: 992px) {
    #collapseButton {
        position: relative;
    }

    #signup-login {
        display: inherit;
        position: absolute;
        right: 0;
    }
}

nav.navbar {
    transition: transform 0.3s ease-in-out;
}

nav.navbar-hide {
    transform: translateY(-100%);
}

nav.navbar-show {
    transform: translateY(0);
}

.card {
    border-radius: 0.75em;
}

img.card-img-top {
    /*border-radius: .75rem .75rem 0 0;*/
    border-radius: .75rem;
}