body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-size: 1.6rem;
    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
}

/*make clerk text bigger*/

.cl-rootBox p,
.cl-rootBox a,
.cl-rootBox h2,
.cl-rootBox label,
.cl-rootBox button,
.cl-rootBox span,
.cl-rootBox svg,
.cl-rootBox input,
.cl-userButtonPopoverCard span,
.cl-userButtonPopoverCard p,
.cl-userButtonPopoverCard svg {
    font-size: 1.8rem;
}

.cl-rootBox svg, .cl-userButtonPopoverCard svg {
    height: 2rem;
    width: 2rem;
}

h1, h2, h3, h4 {
    font-family: Mulish, sans-serif !important;
}

h1, .cl-rootBox h1 {
    font-size: 4.2rem;
    font-weight: 900;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.4rem;
}

h2, h3 {
    font-weight: bold;
}

/*sub header*/
.sh {
    font-weight: 200;
    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
}

h1.sh {
    font-size: 3.2rem;
}

h2.sh {
    font-size: 2.8rem;
}

h3.sh {
    font-size: 1.8rem;
}

/*body 1 body 2 and body3*/
.b1 {
    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
}

.b2 {
    font-size: 1.8rem;
}

.b3 {
    font-size: 1.6rem;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*font sizing*/

html {
    font-size: 62.5%;
}

@media only screen and (max-width: 767px) {
    html {
        font-size: 62.5%;
    }

    h1 {
        font-size: 3rem;
    }

    h1.sh {
        font-size: 2.3rem;
    }

    h3 {
        font-size: 2rem;
    }

    h2 {
        font-size: 2.75rem;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    html {
        font-size: 55%;
    }
}

/*colour overrides*/
.btn.btn-outline-primary {
    background-color: var(--secondary);
    color: var(--black);
    /*border-color: var(--primary);*/
    border: none;
    border-radius: 50px;
    padding: .5rem 2rem;
}

.btn.btn-outline-primary:hover {
    background-color: var(--primary);
    transition: 0.2s;
    color: var(--white);
    /*border-color: var(--secondary);*/
}

@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1125px;
    }
}

/*clerk modal*/
div.cl-modalBackdrop {
    align-items: center;
}

div.cl-card {
    min-width: 100%;
    box-shadow: rgba(0, 0, 0, .5) 0 0 2rem 1rem;
}

div.cl-card:not(.cl-userButtonPopoverCard) {
    min-height: 50rem;
}

@media only screen and (min-width: 425px) {
    div.cl-card {
        min-width: 40rem;
    }
}